<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Phoenix
 * @package     Phoenix_Moneybookers
 * @copyright   Copyright (c) 2014 Phoenix Medien GmbH & Co. KG (http://www.phoenix-medien.de)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Nrod_Giftregistry>
            <version>0.0.0.6</version>
        </Nrod_Giftregistry>
    </modules>
    <global>
        <helpers>
            <giftregistry>
                <class>Nrod_Giftregistry_Helper</class>
            </giftregistry>            
        </helpers>
        <blocks>
            <giftregistry>
                <class>Nrod_Giftregistry_Block</class>
            </giftregistry>
        </blocks>
        <models>
            <giftregistry>
                <class>Nrod_Giftregistry_Model</class>
                <resourceModel>nrod_giftregistry_mysql4</resourceModel>
            </giftregistry>
            <nrod_giftregistry_mysql4>
                <class>Nrod_Giftregistry_Model_Mysql4</class>
                <entities>
                    <entity>
                        <table>nrod_giftregistry_entity</table>
                    </entity>
                    <item>
                        <table>nrod_giftregistry_item</table>
                    </item>
                    <type>
                        <table>nrod_giftregistry_type</table>
                    </type>
                </entities>
            </nrod_giftregistry_mysql4>
        </models>
        <resources>
            <giftregistry_setup>
                <setup>
                    <module>Nrod_Giftregistry</module>
                    <class>Nrod_Giftregistry_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </giftregistry_setup>
            <giftregistry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </giftregistry_write>
            <giftregistry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </giftregistry_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <nrod_giftregistry>
                <use>standard</use>
                <args>
                    <module>Nrod_Giftregistry</module>
                    <frontName>giftregistry</frontName>
                </args>
            </nrod_giftregistry>
        </routers>
        <layout>
        	<updates>
        		<nrod_giftregistry module="nrod_giftregistry">
        			<file>nrod_giftregistry.xml</file>
    			</nrod_giftregistry>
    		</updates>
    	</layout>
    </frontend>
    <admin>
    	<routers>
    		<adminhtml>
    			<args>
    				<modules>
    					<nrod_giftregistry before="Mage_Adminhtml">Nrod_Giftregistry_Adminhtml</nrod_giftregistry>
    				</modules>
    			</args>	
			</adminhtml>
    	</routers>
    </admin>
    <adminhtml>
    	<layout>
    		<updates>
    			<nrod_giftregistry module="nrod_giftregistry">
    				<file>nrod_giftregistry.xml</file>
    			</nrod_giftregistry>
    		</updates>
    	</layout>
	</adminhtml>
</config>
